@media screen and (max-width: 425px) {

    header {
        margin-top: 103px;
    }

    .nav-bar
    {
        flex-direction: column;
    }

    .nav-links{
        flex-direction: column;
        margin-top: 62px;
    }

    .nav-links a {
        margin-bottom:60px ;
    }
}